apiVersion: v1
kind: PersistentVolume
metadata:
  name: alertmanager-main-db-alertmanager-main-0
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 16Gi
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: alertmanager-main-db-alertmanager-main-0
    namespace: monitoring
  hostPath:
    path: /mnt/kubernetes/alertmanager/data0
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - work
