apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-storage
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 16Gi
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: grafana-storage
    namespace: monitoring
  hostPath:
    path: /mnt/kubernetes/grafana/data
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - work
